<section id="about" class="section about is-medium has-background-dark has-text-centered">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title has-text-white is-spaced">Great to see you here!</h1>
                <h2 class="subtitle is-size-5-desktop has-text-white has-text-weight-normal" style="line-height: 30px;">I was trained as a materials scientist focusing on plymeric materials, then was fascienated by the various possibilities within the computer. 
                    Therefore, here I am. As a continuing learning web designer and software engineer, it is always possible.</h2>
            </div>
        </div>

    </div>
</section>
