  <script src="https://kit.fontawesome.com/78da73dbd3.js" crossorigin="anonymous"></script>
  <script src="script.js"></script>
  </body>
  
  <footer class="section about is-medium has-background-dark has-text-centered">
    <div class="columns">
      <div class="column">
        <p class="has-text-white subtitle">Created by Chia-Ying Tsai</p>
    </div>
    
  </footer>
</html>