<section id="project" class="section project is-medium has-text-centered">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-fifths">
                <h1 class="title is-spaced">My Projects</h1>
                <h2 class="subtitle is-size-5-desktop has-text-weight-normal mb-5" style="line-height: 30px;">I was trained as a materials scientist focusing on plymeric materials, then was fascienated by the various possibilities within the computer. 
                    Therefore, here I am. As a continuing learning web designer and software engineer, it is always possible.</h2>
            </div>
        </div>
    </div">
    <div class="container my-5">
         <div class="columns is-multiline is-centered is-8">
            <div class="column is-one-fifth">
              <figure class="image is-1by1">
                <img class="project-img is-rounded" src="https://picsum.photos/id/237/200">
                <a class="project-button button is-primary is-outlined is-rounded" href="" target="_blank">
                    <span>Visit Website</span>
                    <span class="icon"><i class="fas fa-angle-right"></i></span></a>

                <!-- <div class="overlay"></div> -->
              </figure>
              <figcaption>
                <h1 class="title is-size-5 is-size-4-widescreen mt-5">To-do list program</h1>
              </figcaption>
            </div>
            <div class="column is-one-fifth">
              <figure class="image is-1by1">
                <img class="project-img is-rounded" src="https://picsum.photos/id/236/200">
                <a class="project-button button is-primary is-outlined is-rounded" href="" target="_blank">
                    <span>Visit Website</span>
                    <span class="icon"><i class="fas fa-angle-right"></i></span></a>

                <!-- <div class="overlay"></div> -->
              </figure>
              <figcaption>
                <h1 class="title is-size-5 is-size-4-widescreen mt-5">Book review website</h1>
              </figcaption>
            </div>
            <div class="column is-one-fifth">
              <figure class="image is-1by1">
                <img class="project-img is-rounded" src="https://picsum.photos/id/200/200">
                <a class="project-button button is-primary is-outlined is-rounded" href="" target="_blank">
                    <span>Visit Website</span>
                    <span class="icon"><i class="fas fa-angle-right"></i></span></a>

                <!-- <div class="overlay"></div> -->
              </figure>
              <figcaption>
                <h1 class="title is-size-5 is-size-4-widescreen mt-5">Web game</h1>
              </figcaption>
            </div>
        </div>
    </div>
       
</section>