<%- include ("header.ejs") %>

<%- include ("navbar.ejs") %>

<sec id="submit" class="section is-large">
    <div class="columns is-centered">
        <div class="column is-narrow submit-column has-text-centered">
            <h1 class="title">Send message uccessfully!</h1>
            <form action="/">
                <button class="button is-warning" type="submit">Back to Home</button>
            </form>
        </div>

    </div>
    
</sec>

<%- include ("footer.ejs") %>