<%- include ("header.ejs") %>

<%- include ("navbar.ejs") %>

<sec id="submit" class="section is-large">
    <div class="container is-centered">
        <h1>Send message uccessfully!</p>
        <form action="/">
            <button class="button is-warning" type="submit">Back to Home</button>
        </form>
    </div>
    
</sec>

<%- include ("footer.ejs") %>